.widgets-container {
  padding: 24px 24px;
  font-family: Tajawal, sans-serif !important;
}

.content {
  background-color: #1a516d;
  color: white;
  font-weight: 400;
}

.t-row {
  padding: 20px;
  font-size: 25px;
  font-weight: normal;
  text-align: right;
  border-bottom: solid 1px white;
}

table {
  margin: 15px;
}

.t-h {
  width: 300px;
}

.t-d {
  font-size: 18px;
  padding: 20px;
  color: #90f49b;
}

.position {
  background-color: #1a516d;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  right: 0px;
  z-index: 100000000;
  padding: 20px 0px;
  font-size: 25px;
  font-weight: normal;
  text-align: right;
  border-bottom: solid 1px white;
  width: 100%;
}

@media screen and (max-width: 425px) {
  body {
    background-color: lightgreen;
  }
  .content {
    overflow: wrap;
  }

  .t-h {
    font-size: 12px;
  }
  .t-d {
    font-size: 10px;
    padding: 5px;
  }

  .position {
    font-size: 12px;
    font-weight: bold;
  }
}
